<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/capy_head_logo.png" />
  <title>Capybaracks</title>

</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/capybaras">All Capybaras</a>
      </li>
      <!-- <li>
        <a href="/animals">Adopted Capybaras</a>
      </li> -->
    </ul>
  </nav>

  <%= yield %>

  </main>
</body>
</html>
