<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/capy_head_logo.png" />

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <title>Capybaracks</title>

</head>
<body>
  <main>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/capybaras">All Capybaras</a>
        </li>
        <li>
          <a href="/owners">All Owners</a>
        </li>
        <li>
          <a href="/owner/new">Add an owner</a>
        </li>
        <li>
          <a href="/adoptions">Add an adoption</a>
        </li>
        </ul>
      </nav>

      <%= yield %>

    </main>
  </body>
  </html>
