<h1>Add a capybara!</h1>



<form action="/capybara/new" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required>

  <label for="name">Admission:</label>
  <input type="date" name="admission" id="admission" required>

  <label for="age">Age:</label>
  <input type="number" name="age" id="age" required>

  <label for="available">Available:</label>
  <input type="text" name="available" id="available" required>


  <input type="submit" value="Click to save">


  </form>
