<div class='profile-container'>
  <div class='profile'>

  <h1>Capybara <%= @capybara.name %></h1>

  <p>Admission: <%= @capybara.admission %></p>

  <p>Available: <%= @capybara.is_available %></p>

  <a href="/capybaras/<%= @capybara.id %>/edit">Edit</a>

  </div>
</div>
