<div class='profile-container'>
  <div class='profile'>

  <h1>Capybara <%= @capybara.name %></h1>

  <p>Admission: <%= @capybara.admission %></p>

  <p>Available: <%= @capybara.is_available %></p>

  <a href="/capybaras/<%= @capybara.id %>/edit">Edit</a>

  </div>
</div>

  <img src="https://static.boredpanda.com/blog/wp-content/uploads/2016/04/capybara-unusual-animal-friendship-35-5703a5979041b__605.jpg" alt="Avatar">
