* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

body {
  justify-content: space_around;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.nav-container {
  color: #fff;
  background-color: #5995DA;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.nav {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.header-container {
  color: black;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-around;
}
